$red: #c91c01;
$green: #0b9354;
$black: #333;
$orange: #f55c46;
$purple: #623e7d;
$pink: #861b87;

.theme-color_red {
  color: $red;
}

.theme-color_green {
  color: $green;
}

.theme-color_black {
  color: $black;
}

.theme-color_orange {
  color: $orange;
}

.theme-color_purple {
  color: $purple;
}

.theme-color_pink {
  color: $pink;
}
